body {
  background-color: yellow;
}

header h1 {
  color: blue;
  text-align: center;
}

section {
  font-family: "Comic Neue";
}

ul {
  line-height: 2;
}

p {
  text-align: justify;
}

a {
  color: blue;
}

a:hover {
  color: red;
  text-decoration: underline;
}
